<footer>
    <md-divider></md-divider>
    <br/>
    <md-content layout="column" layout-align="center center">
        <small>{{author}}</small>
        <md-content layout="row" layout-padding>
            <a ng-if="!!facebookLink" ng-href="{{facebookLink}}"><img ng-src="/img/FB-f-Logo__blue_50.png" class="img-circle"/></a>
            <a ng-if="!!githubLink" ng-href="{{githubLink}}"><img ng-src="/img/GitHub-Mark-32px.png" class="img-circle"/></a>
            <a ng-if="!!linkedinLink" ng-href="{{linkedinLink}}"><img ng-src="/img/InBug-30px-R.png" class="img-circle"/></a>
        </md-content>
    </md-content>
</footer>
