<header>
    <md-toolbar class="md-toolbar-tools" layout="row" layout-padding>
        <h1><a ng-href="/">{{siteName}}</a></h1>
        <md-list layout="row" hide-xs>
            <md-list-item ng-repeat="item in nav.items">
                <md-button name="{{item.name}}" ui-sref="{{item.sref}}">{{item.name}}</md-button>
            </md-list-item>
        </md-list>
        <md-menu hide-gt-xs>
            <md-button ng-click="$mdOpenMenu($event)">Menu</md-button>
            <md-menu-content>
                <md-menu-item ng-repeat="item in nav.items">
                    <md-button name="{{item.name}}" ui-sref="{{item.sref}}">{{item.name}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-toolbar>
</header>
