/*
    white:      #E9E9E9
    light blue: #4EB1BA
    dark blue:  #222930
*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/*Global Styles------------------------------------------------------------------------------------------------------------------*/

html {
    background: #222930;
    color: #E9E9E9;
    font-size: 1.1em;
    font-family: Arial;
}

ul {
    list-style-type: none;
}

/*Basic layout styles -----------------------------------------------------------------------------------------------------------*/

h1 {
    padding: .1em;
}

/* Content region styles -----------------------------------------------------------------------------------------------------------*/

/*mainContent styles*/

#mainContent {
    padding: 1.25em 0;
    text-align: center;
}

#mainContent h1 {
    font-weight: bold;
    font-size: 2em;
}

/*link styles*/

a {
    text-decoration: none;
    color: #222930;
}

a:hover {    
    color: #E9E9E9;
}

/*button styles*/

input[type="submit"], select {
    padding: 5px;
    background: #4EB1BA;
    border-radius: 10px;
    border: none;
    color: #222930;
}

input[type="submit"]:hover {
    color: #E9E9E9;
}

/*header styles*/

header {
    border-bottom: 1.5em solid #4EB1BA;
    position: relative;
    height: 13em;
}

/*logo styles*/
#logo {
    padding: 1em 0 ;
    font-size: 2em;
}

#logo span:first-child {
    float: left;
    display: inline-block;
    font-style: italic;
    font-size: 1.5em;
    line-height: 2em;
    width: 2em;
    background: #4EB1BA;
    color: #222930;
    text-align: center;
    border-radius: 100px;
}

#logo span:last-of-type {
    float: left;
    display: inline-block;
    line-height: 3em;
    font-weight: bold;
    padding-left: .1em;
}

/*nav styles*/

nav {
    float: left;
}

nav > ul > li {
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    background: #4EB1BA;
    border-radius: 10px;
    color: #222930;
}

nav ul ul {
    visibility:hidden;
    position:absolute;
    background: #4EB1BA;
    border: 1px solid #222930;
    border-radius: 0 10px 10px 10px;
    padding: 5px;
    left: 0;
    top: 1.9em;
    width: 7em;
}

nav ul li:hover ul {
    visibility: visible;
}

/*footer styles*/

footer {
    text-align: center;
    color: #222930;
    background: #4EB1BA;
    padding: 15px;
}

/*page-specific main content styles*/

div[id*=UpdatePanelHistory], div[id*=DiceRollersPanel] {
    display: inline-block;
}

div[id*=UpdatePanel] {
    font-size: 1.1em;
    padding: .2em;
}

div[id*=UpdatePaneld] span {
    text-align: left;
    display: inline-block;
    width: 3em;
}